footer
  .container.content
    .row
      ul.links.col-md-8.col-sm-8
        li
          a(href='#') Terms and Condition
        li
          a(href='#formContact' data-toggle='modal') Contact
        li
          a(href='#') Legal
        li
          a(href='#') Terms of Use
        li
          a(href='#') Privacy Policy
        li
          a(href='#') FAQ
      ul.social.col-md-4.col-sm-4
        li
          a.fa.fa-facebook.fa-2x(href='//www.facebook.com/happisg', target='_blank')
        li
          a.fa.fa-instagram.fa-2x(href='//www.instagram.com/happi.sg/', target='_blank')
        li
          a.fa.fa-twitter.fa-2x(href='//twitter.com/happi_sg', target='_blank')
        li
          a.fa.fa-linkedin.fa-2x(href='//www.linkedin.com/company/happi-pte-ltd', target='_blank')
        li
          a.fa.fa-envelope-o.fa-2x(href='mailto:hello@happi.sg', target='_self')
      //- ul
    //- row
  //- container
//- footer
