extends ./layout/layout_main.jade

block content
  
  .section._cover
    .container
      .row
        .col-sm-6.col-md-5
          h1.normal Hi!
          h3.normal Welcome to Happi, where you answer 5 question surveys to get deals, win prizes, and drive funding to your selected charity or group.
          br
          h4.normal
            strong
              a(href="#formSignup", data-toggle="modal") Sign up now!
            | &nbsp;For your chance to 
            strong get
            |, 
            strong give
            |, and 
            strong win
            |.
          br
          .text-center
            a(href='//play.google.com/store/apps/details?id=com.happi', target='_blank')
              img(alt='Get Happi on Google Play!', src='//proj-happi.s3.amazonaws.com/public/assets/media/20160119032713irpzget-it-on-google-play-vector.png', style='width:150px')
            //-a
            a(href='//itunes.apple.com/sg/app/happi-singapore/id1066117097?mt=8', target='_blank')
              img(alt='Get Happi on the Apple Store!', src='//proj-happi.s3.amazonaws.com/public/assets/media/201602120826151c51app-store-logo.png', style='width:150px')
            //-a
          //-.text-center
        //-.col-md-5
        .col-sm-6.col-md-7
          .visible-xs
            br
          //
            .visible-xs.visible-sm.text-center
              br
              a.btn-play-vid-mob(href="#mobileVideo", data-toggle="modal")
                i.fa.fa-video-camera.fa-3x
                br
                | Watch Video
              //- a
          iframe#videoAboutHappi(src='//player.vimeo.com/video/164960427?byline=0&portrait=0&badge=0&autoplay=0?api=1', width='100%', height='370', frameborder='0', webkitallowfullscreen, mozallowfullscreen, allowfullscreen)
        //-.col-md-7
      //-.row
    //-.container
  //-.section_cover
  #sectionAbout.section._about
    .container
      .row
        .col-sm-4.col-md-4.text-center.visible-xs
          img.img-responsive(src="assets/images/helping_people.png", alt="")
        //-.col-md-4
        .col-sm-8.col-md-8
          .hidden-sm
            br
            br
          .hidden-xs
            br
          .combator
            | Happi is a community platform that enables people to be heard and contribute to causes, charities, teams, schools and groups they care about in a fun, free, and easy way.&nbsp;
            small
              a.text-nowrap(href="page_about") Learn more
        //-.col-md-8
        .col-sm-4.col-md-4.text-center.hidden-xs
          img.img-responsive(src="assets/images/helping_people.png", alt="")
        //-.col-md-4
      //- row
    //-.container
  //-.section_about
  
  #sectionSteps.section._steps
    .container
      h2.text-center Just Three Steps
      br
      br
      br
      .row
        .col-xs-4.col-sm-4.col-md-4.icon_block
          i.fa.fa-check-circle.icon.icon_step_1
          br
          h4 Select a Cause
        //- col-md-4
        .col-xs-4.col-sm-4.col-md-4.icon_block
          i.fa.fa-smile-o.icon.icon_step_2
          br
          h4 Smile at a Product
        //- col-md-4
        .col-xs-4.col-sm-4.col-md-4.icon_block
          i.fa.fa-list-alt.icon.icon_step_3
          br
          h4 Take a Survey
        //- col-md-4
      //- row
    //- container
  //- section
  
  #sectionFeatured.section._featured
    .container
      h2 Featured Story
      br
      .row
        .col-sm-4.col-md-5
          img.img-responsive(src="assets/images/img_featured_story.png", alt="")
          .visible-xs.visible-sm
            br
        //- col-md-5
        .col-sm-8.col-md-7
          h4 Khairul Asraf Bin Khairudin
          p As an athlete in this wheelchair racing sport scene, I am targeting to compete in the local and international meets. Subsequently, my ultimate goal is to qualify for the Paralympic Games.
          p However, I need a new customised racing wheelchair, which cost at least SGD11, 000.00 complete with all customised accessories and includes freight. Thus, I am making an appeal for either full sponsorship or partial donation to offset the cost of this personal equipment.
          p The current equipment that I am using is an old passed-on item donated by former athletes. It is literally not a “one shoe fits all” type of athlete's personal equipment.
          p The Wheelchair Racing Association (Singapore), WRAS, will bear the cost of my participation in all games which include entry fees, lodging, meals, travel and other contingencies. Hence, I am obliged to get my own customised racing wheelchair in order to compete and perform at the highest level.
          a(href="page_featured") View More
        //- col-md-7
      //- row
    //-.container
  //-.section_about
  
  #sectionOfferings.section._offerings
    .carousel-offerings.owl-carousel.owl-theme
      div
        a(href="//happi.sg/en/product/view/99", target="_blank")
          img.img-responsive(src="assets/images/featured/f_1.jpg")
        //- a
      //- div
      div
        a(href="//happi.sg/en/product/view/134", target="_blank")
          img.img-responsive(src="assets/images/featured/f_2.jpg")
        //- a
      //- div
      div
        a(href="//happi.sg/en/product/view/235", target="_blank")
          img.img-responsive(src="assets/images/featured/f_3.jpg")
        //- a
      //- div
      div
        a(href="//happi.sg/en/product/view/324", target="_blank")
          img.img-responsive(src="assets/images/featured/f_4.jpg")
        //- a
      //- div
      div
        a(href="//happi.sg/en/product/view/368", target="_blank")
          img.img-responsive(src="assets/images/featured/f_5.jpg")
        //- a
      //- div
      div
        a(href="//happi.sg/en/product/view/390", target="_blank")
          img.img-responsive(src="assets/images/featured/f_6.jpg")
        //- a
      //- div
    //- carousel-partners
  //- section
  
  .section._about.sub
    .container
      .combator.text-center
        i.fa.fa-quote-left
        strong
          | &nbsp;Small Acts for Big Impact&nbsp;
        i.fa.fa-quote-right
        | &nbsp;is our mantra. We give people a way to support something they care about in a free, easy way with just 30 seconds a day.
  //-.section_about
  
  #sectionPartners.section._partners
    h2.text-center Our Partners    
    .container
      br
      .carousel-partners.owl-carousel.owl-theme
        div
          a(href="//happi.sg/group/view/28", target="_blank")
            img.img-responsive(src="assets/images/partners/awg/logo_all.jpg")
          br
          p.text-center
            strong Animal Welfare Group
        div
          a(href="//happi.sg/group/view/15", target="_blank")
            img.img-responsive(src="assets/images/partners/awg/logo_cas.jpg")
          br
          p.text-center
            strong Animal Welfare Group
        div
          a(href="//happi.sg/group/view/16", target="_blank")
            img.img-responsive(src="assets/images/partners/awg/logo_dog_lovers.jpg")
          br
          p.text-center
            strong Animal Welfare Group
        div
          a(href="//happi.sg/group/view/51", target="_blank")
            img.img-responsive(src="assets/images/partners/awg/logo_sosd.jpg")
          br
          p.text-center
            strong Animal Welfare Group
        //
        div
          a(href="//happi.sg/group/view/55", target="_blank")
            img.img-responsive(src="assets/images/partners/charities/logo_apsn.jpg")
          br
          p.text-center
            strong Charities
        div
          a(href="//happi.sg/group/view/59", target="_blank")
            img.img-responsive(src="assets/images/partners/charities/logo_bb.jpg")
          br
          p.text-center
            strong Charities
        div
          a(href="//happi.sg/group/view/62", target="_blank")
            img.img-responsive(src="assets/images/partners/charities/logo_rda.jpg")
          br
          p.text-center
            strong Charities
        div
          a(href="//happi.sg/group/view/36", target="_blank")
            img.img-responsive(src="assets/images/partners/charities/logo_ash.jpg")
          br
          p.text-center
            strong Charities
        div
          a(href="//happi.sg/group/view/50", target="_blank")
            img.img-responsive(src="assets/images/partners/charities/logo_bcf.jpg")
          br
          p.text-center
            strong Charities
        div
          a(href="//happi.sg/group/view/26", target="_blank")
            img.img-responsive(src="assets/images/partners/charities/logo_choklap_charity.jpg")
          br
          p.text-center
            strong Charities
        div
          a(href="//happi.sg/group/view/20", target="_blank")
            img.img-responsive(src="assets/images/partners/charities/logo_dsas.jpg")
          br
          p.text-center
            strong Charities
        div
          a(href="//happi.sg/group/view/46", target="_blank")
            img.img-responsive(src="assets/images/partners/charities/logo_faith_acts.jpg")
          br
          p.text-center
            strong Charities
        div
          a(href="//happi.sg/group/view/22", target="_blank")
            img.img-responsive(src="assets/images/partners/charities/logo_habitat_for_humanity.jpg")
          br
          p.text-center
            strong Charities
        div
          a(href="//happi.sg/group/view/38", target="_blank")
            img.img-responsive(src="assets/images/partners/charities/logo_make_a_wish.jpg")
          br
          p.text-center
            strong Charities
        //
        div
          a(href="//happi.sg/group/view/12", target="_blank")
            img.img-responsive(src="assets/images/partners/clubs/logo_a_cappella_logo.jpg")
          br
          p.text-center
            strong Clubs
        div
          a(href="//happi.sg/group/view/53", target="_blank")
            img.img-responsive(src="assets/images/partners/clubs/logo_austcham_paddle_club.jpg")
          br
          p.text-center
            strong Clubs
        div
          a(href="//happi.sg/group/view/44", target="_blank")
            img.img-responsive(src="assets/images/partners/clubs/logo_joy_riders.jpg")
          br
          p.text-center
            strong Clubs
        div
          a(href="//happi.sg/group/view/48", target="_blank")
            img.img-responsive(src="assets/images/partners/clubs/logo_lcose.jpg")
          br
          p.text-center
            strong Clubs
        div
          a(href="//happi.sg/group/view/21", target="_blank")
            img.img-responsive(src="assets/images/partners/clubs/logo_passion_unleashed.jpg")
          br
          p.text-center
            strong Clubs
        div
          a(href="//happi.sg/group/view/49", target="_blank")
            img.img-responsive(src="assets/images/partners/clubs/logo_sct.jpg")
          br
          p.text-center
            strong Clubs
        div
          a(href="//happi.sg/group/view/29", target="_blank")
            img.img-responsive(src="assets/images/partners/clubs/logo_shutter_journey.jpg")
          br
          p.text-center
            strong Clubs
        div
          a(href="//happi.sg/group/view/52", target="_blank")
            img.img-responsive(src="assets/images/partners/clubs/logo_siha.jpg")
          br
          p.text-center
            strong Clubs
        div
          a(href="//happi.sg/group/view/27", target="_blank")
            img.img-responsive(src="assets/images/partners/clubs/logo_spin.jpg")
          br
          p.text-center
            strong Clubs
        div
          a(href="//happi.sg/group/view/40", target="_blank")
            img.img-responsive(src="assets/images/partners/clubs/logo_ss.jpg")
          br
          p.text-center
            strong Clubs
        div
          a(href="//happi.sg/group/view/13", target="_blank")
            img.img-responsive(src="assets/images/partners/clubs/logo_wfos.jpg")
          br
          p.text-center
            strong Clubs
        div
          a(href="//happi.sg/group/view/45", target="_blank")
            img.img-responsive(src="assets/images/partners/clubs/logo_wras.jpg")
          br
          p.text-center
            strong Clubs
        div
          a(href="//happi.sg/group/view/47", target="_blank")
            img.img-responsive(src="assets/images/partners/clubs/logo_yayasan.jpg")
          br
          p.text-center
            strong Clubs
        //
        div
          a(href="//happi.sg/group/view/33", target="_blank")
            img.img-responsive(src="assets/images/partners/groups/logo_happi.jpg")
          br
          p.text-center
            strong Groups
        div
          a(href="//happi.sg/group/view/25", target="_blank")
            img.img-responsive(src="assets/images/partners/groups/logo_photography_network.jpg")
          br
          p.text-center
            strong Groups
        div
          a(href="//happi.sg/group/view/23", target="_blank")
            img.img-responsive(src="assets/images/partners/groups/logo_sicc.jpg")
          br
          p.text-center
            strong Groups
        div
          a(href="//happi.sg/group/view/58", target="_blank")
            img.img-responsive(src="assets/images/partners/groups/logo_swf.jpg")
          br
          p.text-center
            strong Groups
        //
        div
          a(href="//happi.sg/group/view/35", target="_blank")
            img.img-responsive(src="assets/images/partners/schools/logo_camp_accolade.jpg")
          br
          p.text-center
            strong Schools
        div
          a(href="//happi.sg/group/view/14", target="_blank")
            img.img-responsive(src="assets/images/partners/schools/logo_club_republic.jpg")
          br
          p.text-center
            strong Schools
        div
          a(href="//happi.sg/group/view/42", target="_blank")
            img.img-responsive(src="assets/images/partners/schools/logo_hall_of_residence_sixteen.jpg")
          br
          p.text-center
            strong Schools
        div
          a(href="//happi.sg/group/view/56", target="_blank")
            img.img-responsive(src="assets/images/partners/schools/logo_msis.jpg")
          br
          p.text-center
            strong Schools
        div
          a(href="//happi.sg/group/view/37", target="_blank")
            img.img-responsive(src="assets/images/partners/schools/logo_nanyang_technological_university.jpg")
          br
          p.text-center
            strong Schools
        div
          a(href="//happi.sg/group/view/39", target="_blank")
            img.img-responsive(src="assets/images/partners/schools/logo_ntusu.jpg")
          br
          p.text-center
            strong Schools
        div
          a(href="//happi.sg/group/view/34", target="_blank")
            img.img-responsive(src="assets/images/partners/schools/logo_nus.jpg")
          br
          p.text-center
            strong Schools
        div
          a(href="//happi.sg/group/view/60", target="_blank")
            img.img-responsive(src="assets/images/partners/schools/logo_nus_2.jpg")
          br
          p.text-center
            strong Schools
        div
          a(href="//happi.sg/group/view/63", target="_blank")
            img.img-responsive(src="assets/images/partners/schools/logo_profile_picture.jpg")
          br
          p.text-center
            strong Schools
        div
          a(href="//happi.sg/group/view/57", target="_blank")
            img.img-responsive(src="assets/images/partners/schools/logo_white_lodge.jpg")
          br
          p.text-center
            strong Schools
        div
          a(href="//happi.sg/group/view/24", target="_blank")
            img.img-responsive(src="assets/images/partners/schools/logo_wsc.jpg")
          br
          p.text-center
            strong Schools
        //
        div
          a(href="//happi.sg/group/view/30", target="_blank")
            img.img-responsive(src="assets/images/partners/se/logo_ashton_movements_agency.jpg")
          br
          p.text-center
            strong Social Enterprise
        div
          a(href="//happi.sg/group/view/17", target="_blank")
            img.img-responsive(src="assets/images/partners/se/logo_caption_cube.jpg")
          br
          p.text-center
            strong Social Enterprise
        div
          a(href="//happi.sg/group/view/19", target="_blank")
            img.img-responsive(src="assets/images/partners/se/logo_drink_entrepreneurs.jpg")
          br
          p.text-center
            strong Social Enterprise
        div
          a(href="//happi.sg/group/view/18", target="_blank")
            img.img-responsive(src="assets/images/partners/se/logo_edible_garden_city_logo.jpg")
          br
          p.text-center
            strong Social Enterprise
        div
          a(href="//happi.sg/group/view/43", target="_blank")
            img.img-responsive(src="assets/images/partners/se/logo_the_working_capitol.jpg")
          br
          p.text-center
            strong Social Enterprise
        div
          a(href="//happi.sg/group/view/61", target="_blank")
            img.img-responsive(src="assets/images/partners/se/logo_creations.jpg")
          br
          p.text-center
            strong Social Enterprise
        //
        div
          a(href="//happi.sg/group/view/54", target="_blank")
            img.img-responsive(src="assets/images/partners/internal/logo_happi.jpg")
          br
          p.text-center
            strong Internal
      //- owl-carousel
    //- container
  //-.sectionPartners
  
  #sectionWinners.section._winners
    .container
      .row
        .col-md-12
          h2 Winners
          p
            | LUCKY DRAW WINNERS
          p
            | Every week, people win items which enough people have Smiled at in our lucky draws.
            | Someone will win. May as well be you! Smile early, smile often!
          br
          .carousel-winners.owl-carousel.owl-theme
            div
              .row
                .col-sm-4.col-md-3
                  img.img-responsive(src="assets/images/winners/winner_1.jpg")
                //- col-md-3
                .col-md-8.col-md-9
                  .details-wrap
                    p Our Random Act of Happiness winners came to collect their loots at The Working Capitol. Hui Bing from APSN won a Razer Deathstalker keyboard and Diana Dawood from the Weightlifting Federation won a WB 1TB My Passport Ultra Portable External Hard drive both from Parisilk . Congrats to our winners and Smile On! ‪
                      strong #‎gethappi‬ ‪#‎HappiSG‬ ‪#‎RAH‬
                  //- details-wrap
                //- col-md-9
              //- row
            //- div
            div
              .row
                .col-sm-4.col-md-3
                  img.img-responsive(src="assets/images/winners/winner_2.jpg")
                //- col-md-3
                .col-md-8.col-md-9
                  .details-wrap
                    p CONGRATULATIONS! Tan Wei won our Random Act of Happiness. She won a Universal Studio Singapore + Mary Brown dinner attraction pass from Happi. Hop on to Happi.sg to find out more about us. Smile On! ‪
                      strong #‎gethappi‬ ‪#‎happiSG‬
                  //- details-wrap
                //- col-md-9
              //- row
            //- div
            div
              .row
                .col-sm-4.col-md-3
                  img.img-responsive(src="assets/images/winners/winner_3.jpg")
                //- col-md-3
                .col-md-8.col-md-9
                  .details-wrap
                    p Congratulations to Rachel Yap who just came by The Working Capitol to collect her $200 By Invite Only voucher! Rachel was entered into our Random Act of Happiness last week as she had smiled more than 10 times in the month! Keep Smiling! ‪
                      strong #‎getHappi‬ ‪#‎HappiSG‬
                  //- details-wrap
                //- col-md-9
              //- row
            //- div
            div
              .row
                .col-sm-4.col-md-3
                  img.img-responsive(src="assets/images/winners/winner_4.jpg")
                //- col-md-3
                .col-md-8.col-md-9
                  .details-wrap
                    p Jasreel Tan won a fitbit in our Random Act of Happiness, presented by our Chief Happiness Officer, Greg! Look at how happi they are! Download the Happi app now which is available on both iOS and Android. 'Smile' to get the deals that you like and you could also stand a chance to win! Happy Friday!
                      strong ‪#‎getHappi‬ ‪#‎HappiSG‬
                  //- details-wrap
                //- col-md-9
              //- row
            //- div
          //- carousel-winners
          br
          .text-center
            a.btn.btn-warning(href="page_winners") View All Winners
        //- col-md-12
      //- row
    //- container
  //- section
  
  
  //- MODALS ###################################################################
  
  #formSignup.modal.fade(tabindex='-1', role='dialog')
    .modal-dialog
      .modal-content
        .modal-header
          button.close(type='button', data-dismiss='modal', aria-label='Close')
            span(aria-hidden='true') &times;
          h4.modal-title Sign Up
        //- modal-header
        .modal-body
          form
            .form-group
              label Mobile Number
              input.form-control(type='phone')
            .form-group
              label First Name
              input.form-control(type='text')
            .form-group
              label Last Name
              input.form-control(type='text')
            .form-group
              label Phone Operating System
              select.form-control
                option(value='ios') IOS
                option(value='android') Android
            .form-group
              label.form-dob(for='') Date of Birth
              .form-inline
                select.form-control
                  option(value='') Day
                  option(value='01') 01
                select.form-control
                  option(value='') Month
                  option(value='01') Jan.
                select.form-control
                  option(value='') Year
                  option(value='1906') 1906
              //- form-inline
            //- form-group
            .form-group
              label Nationality
              select.form-control
                option(value='1') Singapore
            .form-group
              label City
              select.form-control
                option(value='7') Singapore
            .form-group
              label Gender
              select.form-control
                option(value='1') Male
                option(value='2') Female
            .form-group
              label Promo Code
              input.form-control(type='text')
            //- form-group
          //- form
        //- modal-body

        .modal-footer
          button.btn.btn-success(type='button') Sign up
          button.btn.btn-default(type='button', data-dismiss='modal') Cancel
        //- modal-footer
      // /.modal-content
    // /.modal-dialog
  // /.modal
  
  #mobileVideo.modal.fade(tabindex='-1', role='dialog')
    .modal-dialog
      .modal-content
        .modal-header
          button.close(type='button', data-dismiss='modal', aria-label='Close')
            span(aria-hidden='true') &times;
          h4.modal-title Watch
        //- modal-header
        iframe(src='//player.vimeo.com/video/164960427?byline=0&portrait=0&badge=0&autoplay=0', width='100%', height='370', frameborder='0', webkitallowfullscreen='', mozallowfullscreen='', allowfullscreen='')
        //- modal-body
      // /.modal-content
    // /.modal-dialog
  // /.modal
  
  #formContact.modal.fade(tabindex='-1', role='dialog')
    .modal-dialog
      .modal-content
        .modal-header
          button.close(type='button', data-dismiss='modal', aria-label='Close')
            span(aria-hidden='true') &times;
          h4.modal-title Contact Us
        //- modal-header
        .modal-body
          .form-group
            label Mobile Number
            input.form-control(type='phone')
          .form-group
            label First Name
            input.form-control(type='text')
          .form-group
            label Last Name
            input.form-control(type='text')
          .form-group
            label Company
            input.form-control(type='text')
          .form-group
            label Email
            input.form-control(type='text')
          .form-group
            label Message
            textarea.form-control(rows="5")
        //- modal-body

        .modal-footer
          button.btn.btn-success(type='button') Submit
          button.btn.btn-default(type='button', data-dismiss='modal') Cancel
        //- modal-footer
      // /.modal-content
    // /.modal-dialog
  // /.modal
  
  //- MODALS END ###############################################################

block scripts
  // External Script goes here...
  script.
    $(document).ready(function(){
      $('.carousel-partners').owlCarousel({
        loop: true,
        margin: 10,
        autoplay: true,
        responsiveClass: true,
        nav: true,
        smartSpeed: 1000,
        autoplayTimeout: 1000,
        responsive: {
          0: {
            items: 1
          },
          600: {
            items: 3
          },
          1000: {
            items: 5
          }
        }
      });
      $('.carousel-offerings').owlCarousel({
        loop: true,
        margin: 0,
        autoplay: true,
        responsiveClass: true,
        nav: true,
        smartSpeed: 1000,
        autoplayTimeout: 2500,
        responsive: {
          0: {
            items: 1
          },
          600: {
            items: 1
          },
          1000: {
            items: 2
          }
        }
      });
      $('.carousel-winners').owlCarousel({
        loop: true,
        margin: 10,
        autoplay: true,
        responsiveClass: true,
        nav: true,
        smartSpeed: 1000,
        autoplayTimeout: 3500,
        responsive: {
          0: {
            items: 1
          }
        }
      });
      
      
      //- ellipsis
      //- $(".details-wrap .ell").dotdotdot();
    });
